
/* Changed the font family. What's up with the google font family? Does not seem like it's being used.*/ 

body {
    background-color:oldlace;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
  color: #B23333;
}

/* Did you want the container or the actual background color to be changed? */



 /* Added the imgs, might change the position by using divs. */ 
#main img{
  width:5vw;
  height:5vw;
  margin-right:3vw;
  float:left;

}


.right {
  float:right;
}
h1, h2, h3  {
  margin: 0;
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  margin-left:15vw;
  margin-bottom: 1.5vw;
}

#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color: #18453B;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 150px;
  float: left;
  padding: 20px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}


#nav .selected {
  font-weight: bold;
}

#main {
  width: 750px;
  float: right;

}

#sidebar{
  position:fixed;
  float:left;
  font-size:2vw;
  width:25%;
  height:25vw;

}

.week, .schedule-date,  h2, h3{
  text-align:center;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color:  #d3d3d3;
  color: black;
  text-align: left;
}
#student-group a{
  color:chocolate;
}

 /* 
 Changed the color on the footer */ 

#footer {
  clear: both;
  padding: 10px;
  background-color: green;
  color: white;
  text-align: center;
}
.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
  border: 3px solid black;
}
.schedule-resources {
  font-weight: lighter;
  color: black;
  text-align: center;
  border:3px solid black;
}
